<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoCoaGH"
        tools:targetApi="31">
        <activity
            android:name=".farmer.BeansBought"
            android:exported="false" />
        <activity
            android:name=".lbc.BoughtSuccess"
            android:exported="false" />
        <activity
            android:name=".lbc.BuyBeans"
            android:exported="false" />
        <activity
            android:name=".lbc.ViewBeansInfo"
            android:exported="false" />
        <activity
            android:name=".lbc.LbcProfile"
            android:exported="false" />
        <activity
            android:name=".lbc.LbcSearch"
            android:exported="false" />
        <activity
            android:name=".lbc.LbcShop"
            android:exported="false" />
        <activity
            android:name=".farmer.VideoInfo"
            android:exported="false" />
        <activity
            android:name=".farmer.ContactInfo"
            android:exported="false" />
        <activity
            android:name=".farmer.ViewBeans"
            android:exported="false" />
        <activity
            android:name=".farmer.AddBeans"
            android:exported="false" />
        <activity
            android:name=".govemment.AdminViewFarmerFarms"
            android:exported="false" />
        <activity
            android:name=".farmer.ViewInputs"
            android:exported="false" />
        <activity
            android:name=".farmer.RequestInputs"
            android:exported="false" />
        <activity
            android:name=".farmer.ViewFarms"
            android:exported="false" />
        <activity
            android:name=".lbc.DashboardLBC"
            android:exported="false" />
        <activity
            android:name=".farmer.DashboardF"
            android:exported="false" />
        <activity
            android:name=".govemment.Purchases"
            android:exported="false" />
        <activity
            android:name=".govemment.Inputs"
            android:exported="false" />
        <activity
            android:name=".govemment.Farmers"
            android:exported="false" />
        <activity
            android:name=".govemment.AddLBC"
            android:exported="false" />
        <activity
            android:name=".govemment.DashboardG"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>